= form_for(@user, url: organizer_profile_path, as: :profile) do |f|
  %div
    = f.label(:first_name)
    = f.text_field(:first_name)

  %div
    = f.label(:last_name)
    = f.text_field(:last_name)

  %div
    = f.label(:email)
    = f.text_field(:email)

  %div
    = f.label(:password)
    = f.text_field(:password)

  = f.submit