%section{class: "section likert"}
  .container.centered{ data: { controller: "likert", target: "likert.container" } }
    %p.muted== #{@wizard.question_number} of #{@wizard.number_questions}
    %h1.title= @wizard.current.question.text

    = form_for(@wizard.current, url: answer_survey_question_path(@wizard.survey_response, @wizard.current.position), remote: true, authenticity_token: true, method: :post, data: { target: "likert.form" }) do |f|
      .likert-scale
        .columns
          = f.collection_radio_buttons(:answer, LikertScale.all, :score, :name) do |builder|
            = builder.label(data: { target: "likert.label" }, class: "radio column") do
              .radio-button= builder.radio_button(data: { target: "likert.radio", action: "likert#select" })
              = builder.text

        = f.submit("Continue", class: "button is-large is-primary")

    %hr

    .level.is-mobile{ data: { "turbolinks-animate-persist": "true" } }
      .level-left
        - if @wizard.previous
          = link_to(answer_survey_question_path(@wizard.survey_response, @wizard.previous.position)) do
            = fa_icon("arrow-left", text: "Previous")
        - else
          = link_to("#", class: "muted") do
            = fa_icon("arrow-left", text: "Previous")


      .level-right
        - if @wizard.can_manually_proceed?
          = link_to(next_question_path, { data: { action: "likert#animateSlideNext" } }) do
            = fa_icon("arrow-right", text: "Next", right: true)
        - else
          = link_to("#", class: "muted") do
            = fa_icon("arrow-right", text: "Next", right: true)
