%h1 Web Links

%ul
  - @web_links.each do |web_link|
    %li
      = web_link.name
      == (#{web_link.survey_responses.completed.size} responses)
      == (#{begin_survey_url(web_link.slug)})
      = link_to("edit", edit_organizer_web_link_path(web_link))

= link_to("Create Web Link", :new_organizer_web_link)
