%h1 Charism Scores

- @charism_scores.each do |charism_score|
  %h2== #{charism_score.charism.name} - #{charism_score.score}
  %p= charism_score.charism.description

  %h3 Opportunities
  - charism_score.charism.opportunities_for(@survey_organization).each do |opportunity|
    %h4= opportunity.name
    %p= opportunity.description
  %hr
